DB_NAME=garganoexplorer
DB_USERNAME=garganoexplorer
DB_PASSWORD=cambia_questa_password
DB_PORT=5433


JWT_SECRET = stringa-casuale-di-almeno-64-caratteri

COOKIE_SECURE=false


ADMIN_EMAIL=email_admin
ADMIN_PASSWORD=password_admin